#detail{
    top:50px;
    left:0;
    bottom: 0;
}
.box{
    width:100%;
    min-height: 100%;
    background: #dfdfdf;
    overflow: auto;
}
.img_box,.img_box img{
    width:100%;
}
.content_box{
    overflow: both;
}
.content_box>h3{
    border-left:14px solid sandybrown;
    margin:16px 0;
    font-size: 16px;
    color:#666;
    padding-left: 3px;
}
.content_box .txt_box{
    padding:0 20px;

}
.content_box .txt_box>p{
    font-size: 12px;
    color:#333;
    line-height: 18px;
    margin-bottom: 10px;
}

.Ticket_btn{
    width:100px;
    height:40px;
    position: fixed;
    bottom: 30px;
    background:sandybrown;
    border-radius: 20px;
    left:50%;
    margin-left:-50px;
    color:white;
    line-height: 40px;
    text-align: center;
    
}